/* PÁGINA SOBRE */
.title-page {
    padding: 30px;
    width: 100%;
    min-height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.overlay__title-page {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.title-page .container {
    position: relative;
    z-index: 101;
}
.title-page h2 {
    color: #FFF212;
    font-size: 40px;
    font-weight: bold;
}
.title-page p {
    color: white;
    font-size: 17px;
    margin-top: 15px;
}
.sobre {
    padding: 30px 0;
}

.sobre .container {
    text-align: center;
}

.sobre__box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
.box__image img {
    width: 100%;
    padding-bottom: 20px;
    padding-right: 30px;
}
.box__text p {
    margin-bottom: 15px;
    text-align: left;
}

/* FIM PÁGINA SOBRE */

/* PARALLAX */
.parallax {
    padding: 30px 0;
    width: 100%;
    min-height: 200px;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    position: relative;
}
.parallax .container {
    z-index: 101;
    position: relative;
}
.parallax h2 {
    color: #FFF212;
    font-size: 40px;
    font-weight: bold;
}
.parallax p {
    color: white;
    font-size: 17px;
    margin-top: 15px;
}
.parallax__overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.container-chamada {
    margin-bottom: 40px;
}

.container-chamada p {
    text-align: left;
}

/* FIM DO PARALLAX */



/* PÁGINA DE CONTATO */
.contato {
    padding: 30px 0;
}

.contato .container {
    text-align: center;
}

.contato form {
    max-width: 600px;
    margin: 50px auto;
}

.contato form .input-wrapper:last-child {
    text-align: center;
}

.contato .input-wrapper {
    float: left;
    padding: 10px;
    margin-top: 7px;
}

.contato input[type=text],
.contato input[type=email],
.contato input[type=tel] {
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}

.contato textarea {
    width: 100%;
    border: 1px solid #ccc;
    height: 120px;
    padding: 8px;
    resize: none;
}

.contato .btn-contato {
    border: 0;
    padding: 10px;
    width: 100%;
    margin-top: 0;
    cursor: pointer;
}

/* FIM DA PÁGINA DE CONTATO */


/* MEDIA QUERIES */

/* 768PX */
@media screen and (max-width: 768px) {
    .w20 {
        width: 100%;
    }

    .w50 {
        width: 100%;
    }

    .w80 {
        width: 100%;
    }
    
    .box-icone-single {
        width: 100%;
    }
    
    .equipe-container {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .equipe-container h3,
    .equipe-container p {
        text-align: left;
    }
    
    .sobre-container {
        width: 100%;
        text-align: center;
    }
    
    .sobre-container p {
        text-align: left;
    }
    
    .frase-newsletter {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .input-newsletter {
        width: 100%;
    }
    
    .card-box-single {
        width: 100%;
    }
    
    .footer-links>.container div {
        width: 100%;
        text-align: center;
    }
}

/* 580PX */
@media screen and (max-width: 580px) {
    .menu-desktop {
        display: none;
    }
    
    .menu-mobile {
        display: block;
    }

    .main-bg {
        padding: 100px 2%;
    }

    .main-bg h2 {
        font-size: 30px;
    }

    .main-bg p {
        font-size: 15px;
    }
}

/* FIM MEDIA QUERIES */